body{
    background-color: rgb(82, 0, 78);
}

.btn-grad {
    margin: 10px;
    padding:7px 22px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    background-color: black;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display:inline-block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}